!.gitignore
.*
target/
*.class
*.iml
**/target
**/bin
dist
gradle
**/logs
products
repository
workspace
build
*~
target
.classpath
.project
.settings
MANIFEST.MF

# Package Files #
*.jar
*.war
*.ear

gradlew
gradlew.bat